<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="./public/styles/style.css">
</head>
<body class="text-white">
  <h1>hello world!</h1>
  <% if (!user){%>
    <h1>please log in or sign up if you don't have an account</h1>
  <a href="sign-up">Sign up</a>
  <a href="sign-in">Sign in</a>
  <% } else { %>
<h1>welcome <%= locals.currentUser.username %></h1>
<a href="/log-out">LOG OUT</a>

    <%}%>
</body>
</html>